# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
venv/
env/
ENV/
.conda/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Python cache
.pytest_cache/

# OS files
.DS_Store
Thumbs.db

# Trained models / large files
# Uncomment if you don't want models tracked by Git
# models/